.image {
    height: 90px;
    margin: 20px;
}

.logo-image {
    height: 50px;
}

.parrafo {
    margin: 30px;
}

.btn-ya-llegue {
    display: inline;
    margin: 10px;
}

.btn-ya-fui {
    display: inline;
    margin: 10px;
}

.alineacion {
    display: inline;
}

.contenedor {
    margin: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    margin: 15px 0px;
}

.imageR {
    width: 25px;
}

.itemR {
    text-align: center;
    color: #c4c3ca;
}

.margin {
    margin: 30px 0px;
}